**/.metadata/*
**/.project
**/.settings/*
**/target/*
**/classes/*
.classpath
travis.yml
/target/
/.settings/
chromedriver_linux64.zip
chromedriver_mac64.zip
release.json

**/*password.txt
home-factory-dev-atlas-seed-tools.yml
home-seed-secure.yml
atlas-baiya.yml
atlas-zubin.yml
home-baiya-atlas.yml
upload-result.json
