#query-area {
    padding-top: 5px;
    margin-top: 50px;
    border-radius: 0;
}

#store-type-label {
    color: white;
    font-size: larger;
    font-weight: normal;
}
#show-dbids{
    margin-top: 7px;
}