.navbar-fixed-top {
  border: 0;
}

.btn-group > .btn-default {
  background-image: none;
}

.navbar-form > .btn-default {
  background-image: none;
}

.thumbnail {
  width: 170px;
  height: 210px;
  box-sizing: content-box;
}

.thumbnail > img {
  max-width: 120px;
  width: auto;
  height: 120px;
}

.thumbnail > .caption {
  text-align: center;
}

.thumbnail > .caption > p {
  margin-bottom: 0px;
}

.btn-group > .thumbnail > img {
  max-width: 92px;
  width: auto;
  height: 92px;
  borderRadius: 0;
}

.new-project-dialog {
  width: 448px;
}


.placeholder {
  font-style: italic;
}

.status {
  max-width: 24px;
  max-height: 24px;
  position: absolute;
  top: 4px;
  left: 20px;
}